* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', 'arial', sans-serif;
    background-color: #D9D9D9;

}

#about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    max-width: 100%;
    min-height: 60vh;
    background-image: linear-gradient(315deg, #1E3748, #00796b);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0 40px 0;
}

.tittle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

h1 {
    font-size: 60px;
    word-wrap: no-wrap;
    color: #fff;
}

code {
    font-size: 15px;
    color: #D9D9D9;
}

.header p {
    font-size: 25px;
    margin-bottom: 20px;
    color: #D9D9D9;

}


.photo {
    object-fit: cover;
    object-position: 100% 20%;
    height: 250px;
    width: 250px;
    flex-shrink: 0;
    border-radius: 125px;
    border: 1px solid #D9D9D9;
}

.about-me p {
    font-size: 16px;
    text-indent: 2em;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    text-justify: auto;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 20px;
    color: #fff;
    max-height: 1px;
    transition: all .5s;
    overflow: hidden;
}

.info div {
    margin: 0 20px;
}


h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}


li {
    font-size: 15px;
    padding: 5px 10px;

}
.main-buttons {
  display: flex;
  align-items: center;
}
.main-buttons>a {
  text-decoration: none;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    /* border: 1px solid #639396; */
    border-radius: 10px;
    margin: 40px 15px 30px;
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
    transition: all .2s ease-in;
}

.download i {
    padding-right: 8px;
    font-size: 20px;
}

.download:hover,
.download:focus {
    color: #023a3e;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    /* border: 1px solid #023a3e; */
    outline: none;
}



.extend-btn {
    display: block;
    position: absolute;
    bottom: -30px;
    right: 15%;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #12212B;
    background-color: #1E3748;
    color: white;
    font-size: 25px;
    border: 3px solid white;    
    cursor: pointer;
    transition: all .2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.extend-btn:hover,
.extend-btn:focus
{
    background-color: #fff;
    color: #12212B;
    border: 3px solid #1E3748;
    outline: none;
    bottom: -32px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}


.portfolio h1 {
    font-size: 65px;
    color: #007c85;
    text-align: center;

}

.grid {
    width: auto;
    max-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px auto;

}

.project-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
    width: 350px;
    margin: 20px;
    background-color: rgb(151, 151, 151);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
    text-decoration: none;
}

.project-thumbnail:hover {
    background-color: rgb(80, 80, 80);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.project-thumbnail:hover h4 {
    color: white;
}
/* 
.project-thumbnail:hover #HTML {
    color: red;
}

.project-thumbnail:hover #CSS {
    color: rgb(29, 146, 255);
}

.project-thumbnail:hover #JS {
    color: yellow;
}

.project-thumbnail:hover #RJS {
    color: magenta;
}

.project-thumbnail:hover #API {
    color: rgb(255, 102, 0);
}

.project-thumbnail:hover #UNT {
    color: rgb(0, 190, 32);
} */

.project-thumbnail:hover .project-img {
    filter: none;
}

.project-img {
    margin-top: 25px;
    min-height: 260px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    filter: grayscale(.6);
    transition: filter 0.3s;

}

.project-describtion {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    align-content: center;
    justify-content: center;
}

.project-describtion h4 {
    color: #007C85;
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
    transition: color 0.3s;
}

.project-describtion ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 40px;
}

.project-describtion li {
    padding: 5px;
    display: inline;
}

.project-describtion code {
    font-size: 14px;
    color: rgba(255, 255, 255, .6)
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 80px 0 100px;
    /* margin-top: 50px; */
    background-color: rgb(230, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contact h1 {
    color: #002339;
}

.contact a {
    color: #002339;
    padding: 25px;
    font-size: 22px;
    text-decoration: none;
    flex-shrink: 0;
}

.contact a:hover,
.contact a:focus {
    color: #215f88;
    outline: none;
}

.contact i {
    font-size: 38px;
    padding-right: 20px;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}




.footer {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-top: 5px solid #284b63;
}

@media screen and (max-width: 1400px) {
    .info {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #about {
        padding: 0 7%;
    }

    .grid {
        max-width: 86vw;
    }
}

@media screen and (max-width: 1100px) {
    .info {
        justify-content: space-between
    }

    .contact-list {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 990px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tittle {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 680px) {
    .info {
        flex-direction: column;

    }
}


@media screen and (max-width: 500px) {
    .download {
        margin-bottom: 80px;
    }
}